.sidenav-container {
    width: 100%;
}

.sidenav-container ::ng-deep .mat-drawer-content {
    position: absolute;
    right: 0;
    left: 0;
}

.sidenav {
    padding-bottom: 72px;
    width: 240px;
    bottom: 0;
    overflow: auto;
    height: 100%;
}