$sidenav-spacing-unit: 8px;

:host {
  display: flex;
  flex: 1 1 auto;
}

:host ::ng-deep .side-nav-container {
  width: 100%;
  .mat-drawer-content {
    position: absolute;
    right: 0;
    left: 0;
  }
}

.side-nav-content {
  min-height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  overflow: auto;
}

.side-nav {
  position: absolute;
  bottom: 0;
  width: 240px;
  height: 100%;
  overflow: auto;
  box-shadow: 3px 0 6px rgba(0, 0, 0, .24);
  padding-bottom: 72px;
  &.mat-sidenav-opened {
    box-shadow: 3px 0 6px rgba(0, 0, 0, .24);
  }

  ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
  }

  // Sidenav navigation item
  li {
    border-bottom-width: 1px;
    border-bottom-style: solid;
    margin: 0;
    padding: 0;

    // Hide the border on the last item
    &:last-child {
      border-color: transparent;
    }

    > a {
      box-sizing: border-box;
      display: block;
      font-size: 14px;
      font-weight: 400;
      line-height: ($sidenav-spacing-unit * 6) - 1;
      text-decoration: none;
      transition: all .3s;
      padding: 0 ($sidenav-spacing-unit * 2);
      position: relative;

      &.docs-component-viewer-sidenav-item-selected {
        font-weight: 600;
      }
    }
  }
}
