<md-sidenav-container class="side-nav-container">
  <md-sidenav class="side-nav" [opened]="!isScreenSmall()" [mode]="isScreenSmall() ? 'over' : 'side'">
    <nav>
      <ul>
        <li *ngFor="let kiosk of kiosks$ | async">
          <a [routerLink]="[ '/kiosk', kiosk.IC ]" routerLinkActive="docs-component-viewer-sidenav-item-selected">
            {{kiosk.Name}}
          </a>
        </li>
      </ul>
    </nav>
  </md-sidenav>
  <div class="side-nav-content">
    <p2x-page-header (toggleSidenav)="sidenav.toggle()"></p2x-page-header>
    <router-outlet></router-outlet>
    <p2x-footer></p2x-footer>
  </div>
</md-sidenav-container>