<div class="d-flex flex-column">
    <app-kiosk class="my-1" [kiosk]="'x'"></app-kiosk>
    <app-kiosk class="my-1" [kiosk]="'x'"></app-kiosk>
    <app-kiosk class="my-1" [kiosk]="'x'"></app-kiosk>
    <app-kiosk class="my-1" [kiosk]="'x'"></app-kiosk>
    <app-kiosk class="my-1" [kiosk]="'x'"></app-kiosk>
    <app-kiosk class="my-1" [kiosk]="'x'"></app-kiosk>
    <app-kiosk class="my-1" [kiosk]="'x'"></app-kiosk>
    <app-kiosk class="my-1" [kiosk]="'x'"></app-kiosk>
    <app-kiosk class="my-1" [kiosk]="'x'"></app-kiosk>
    <app-kiosk class="my-1" [kiosk]="'x'"></app-kiosk>
    <app-kiosk class="my-1" [kiosk]="'x'"></app-kiosk>
</div>