<div class="docs-primary-header">
  <h1>{{_pageTitle.title}}</h1>
</div>
<div class="container justify-content-center">
  <form #createAccountForm="ngForm" (ngSubmit)="onSubmit()">
    <md-card class="m-sm-5 m-xs-0">
      <md-card-header>
        <md-card-title>Create Account</md-card-title>
      </md-card-header>
      <md-card-content>
        <md-form-field class="w-100">
          <input mdInput type="email" placeholder="Email" [(ngModel)]="email" name="Email" required>
        </md-form-field>
        <md-form-field class="w-100">
          <input mdInput type="password" placeholder="Password" [(ngModel)]="password" name="Password" required>
        </md-form-field>
      </md-card-content>
      <md-card-actions>
        <button type="submit" [disabled]="(!createAccountForm.valid)" md-raised-button color="primary">Create</button>
      </md-card-actions>
    </md-card>
  </form>
</div>