<form #generateForm="ngForm" (ngSubmit)="generatePasscode()">
  <md-card class="mat-elevation-z8 mb-3">
    <md-card-header>
      <md-card-title>Generate Code</md-card-title>
      <md-card-subtitle>Todo write description here</md-card-subtitle>
    </md-card-header>
    <md-form-field class="w-75">
      <input mdInput placeholder="Expired in (integer hours)" type="number" required [(ngModel)]="expiredIn" name="expiredIn">
    </md-form-field>
    <md-card-actions>
      <button md-raised-button type="submit" [disabled]="generateForm.invalid" color="accent">Generate Passcode</button>
    </md-card-actions>
  </md-card>
</form>

<form #forceOpenForm="ngForm" (ngSubmit)="forceOpenSafe(code)">
  <md-card class="mat-elevation-z8">
    <md-card-header>
      <md-card-title>Force Open</md-card-title>
      <md-card-subtitle>Todo write description here</md-card-subtitle>
    </md-card-header>
    <md-form-field class="w-75">
      <input mdInput type="password" placeholder="Code" required [(ngModel)]="code" name="code">
    </md-form-field>
    <md-card-actions>
      <button md-raised-button type="button" color="primary" (click)="sendCode()">Send Code</button>
      <button md-raised-button type="submit" [disabled]="forceOpenForm.invalid" color="warn">Force Open</button>
    </md-card-actions>
  </md-card>
</form>