<div class="mat-elevation-z8">
  <md-card>
    <md-card-header>
      <md-card-title>Safe {{safeStatus?.IdNo}}</md-card-title>
      <md-card-subtitle>
        <md-chip-list>
          <md-chip *ngIf="!safeStatus?.Lock" color="accent" selected="true">Open</md-chip>
          <md-chip *ngIf="safeStatus?.Lock" color="primary" selected="true">closed</md-chip>

          <md-chip *ngIf="!safeStatus?.Sensor" color="primary" selected="true">Occupied</md-chip>
          <md-chip *ngIf="safeStatus?.Sensor" color="accent" selected="true">Empty</md-chip>

        </md-chip-list>
      </md-card-subtitle>
    </md-card-header>
    <md-card-content>
      <div class="d-inline-flex mw-100">
        <div class="safe-icon mr-5">
          <p2x-svg-viewer [src]="'../../../../assets/open.svg'" [scaleToContainer]="true"></p2x-svg-viewer>
        </div>
        <div class="w-100">
          <md-form-field class="w-100">
            <input mdInput placeholder="Passcode">
          </md-form-field>
          <button md-raised-button color="primary" class="mr-2 mb-2">Open</button>
          <button md-raised-button color="accent">Generate Passcode</button>
        </div>
      </div>
    </md-card-content>
  </md-card>
</div>