<div class="mat-elevation-z8">
  <md-card>
    <md-card-header>
      <md-card-title>Safe {{safeStatus?.No}}</md-card-title>
      <md-card-subtitle>
        <md-chip-list>
          <md-chip *ngIf="safeStatus?.IsOpen" color="accent" selected="true">Open</md-chip>
          <md-chip *ngIf="!safeStatus?.IsOpen" color="primary" selected="true">Closed</md-chip>

          <md-chip *ngIf="safeStatus?.IsOccupied" color="primary" selected="true">Occupied</md-chip>
          <md-chip *ngIf="!safeStatus?.IsOccupied" color="accent" selected="true">Empty</md-chip>

          <md-chip *ngIf="isOnline" color="primary" selected="true">Online</md-chip>
          <md-chip *ngIf="!isOnline" color="warn" selected="true">Offline</md-chip>

        </md-chip-list>
      </md-card-subtitle>
    </md-card-header>
    <md-card-content>
      <div class="d-inline-flex w-100">
        <div class="safe-icon mr-5">
          <p2x-svg-viewer *ngIf="isOnline && safeStatus?.IsOpen" src="../../../../assets/open.svg" [scaleToContainer]="true"></p2x-svg-viewer>
          <p2x-svg-viewer *ngIf="isOnline && !safeStatus?.IsOpen" src="../../../../assets/closed.svg" [scaleToContainer]="true"></p2x-svg-viewer>
          <p2x-svg-viewer *ngIf="!isOnline" src="../../../../assets/offline.svg" [scaleToContainer]="true"></p2x-svg-viewer>
        </div>
        <div class="w-100">
          <form class="mb-2" #openForm="ngForm" (ngSubmit)="openSafe(passcode)">
            <md-form-field class="w-75">
              <input mdInput type="number" placeholder="Passcode" name="passcode" [(ngModel)]="passcode" required>
            </md-form-field>
            <br>
            <button md-raised-button color="primary" [disabled]="openForm.invalid">Open</button>
          </form>
        </div>
      </div>
    </md-card-content>
  </md-card>
</div>