<div class="mat-elevation-z8">
  <md-card>
    <md-card-header>
      <md-card-title>Safe {{safeStatus?.No}}</md-card-title>
      <md-card-subtitle>
        <md-chip-list>
          <md-chip *ngIf="safeStatus?.IsOpen" color="accent" selected="true">Open</md-chip>
          <md-chip *ngIf="!safeStatus?.IsOpen" color="primary" selected="true">Closed</md-chip>

          <md-chip *ngIf="safeStatus?.IsOccupied" color="primary" selected="true">Occupied</md-chip>
          <md-chip *ngIf="!safeStatus?.IsOccupied" color="accent" selected="true">Empty</md-chip>

          <md-chip *ngIf="isOnline" color="primary" selected="true">Online</md-chip>
          <md-chip *ngIf="!isOnline" color="warn" selected="true">Offline</md-chip>

        </md-chip-list>
      </md-card-subtitle>
    </md-card-header>
    <md-card-content>
      <div class="d-inline-flex w-100">
        <div class="safe-icon mr-5">
          <p2x-svg-viewer *ngIf="isOnline" [src]="safeStatus.IsOpen?'../../../../assets/open.svg':'../../../../assets/closed.svg'"
            [scaleToContainer]="true"></p2x-svg-viewer>
          <p2x-svg-viewer *ngIf="!isOnline" src="../../../../assets/offline.svg" [scaleToContainer]="true"></p2x-svg-viewer>
        </div>
        <div class="w-100">
          <!-- Customer section -->
          <section class="mb-2">
            <md-form-field class="w-100">
              <input mdInput placeholder="Passcode">
            </md-form-field>
            <button md-raised-button color="primary">Open</button>
          </section>
          <!-- Admin sections -->
          <section class="mb-2">
            <md-form-field class="w-100">
              <input mdInput type="number" placeholder="Expired in (hours)">
            </md-form-field>
            <button md-raised-button color="accent">Generate Passcode</button>
          </section>
          <section class="mb-2">
            <md-form-field class="w-100">
              <input mdInput type="password" placeholder="Admin password">
            </md-form-field>
            <button md-raised-button color="warn">Force Open</button>
          </section>
        </div>
      </div>
    </md-card-content>
  </md-card>
</div>