<div class="docs-component-category-list">
  <a class="docs-component-category-list-item" *ngFor="let safeStatus of status?.SafeStatuss" [routerLink]="['/safe',status.ICNo,safeStatus.IdNo]">
    <md-card class="docs-component-category-list-card">
      <md-card-title>Safe {{safeStatus.IdNo}}</md-card-title>
      <md-card-subtitle>
        <md-chip-list>
          <md-chip [color]="safeStatus.Lock?'primary':'accent'" selected="true">{{safeStatus.Lock?'Closed':'Open'}}</md-chip>
          <md-chip [color]="safeStatus.Sensor?'primary':'accent'" selected="true">{{safeStatus.Sensor?'Empty':'Occupied'}}</md-chip>
        </md-chip-list>
      </md-card-subtitle>
    </md-card>
  </a>
</div>