<div class="m-3">
  <md-chip-list>
    <md-chip *ngIf="kiosk?.IsOnline" color="primary" selected="true">Online</md-chip>
    <md-chip *ngIf="!kiosk?.IsOnline" color="warn" selected="true">Offline</md-chip>
  </md-chip-list>
</div>
<div class="docs-component-category-list">
  <a class="docs-component-category-list-item" *ngFor="let safeStatus of status?.SafeStatuss" [routerLink]="['/safe',status.ICNo,safeStatus.No]">
    <md-card class="docs-component-category-list-card" ng-disabled="">
      <md-card-title>Safe {{safeStatus.No}}</md-card-title>
      <md-card-subtitle>
        <md-chip-list>
          <md-chip [color]="safeStatus.IsLock?'primary':'accent'" selected="true">{{safeStatus.IsLock?'Closed':'Open'}}</md-chip>
          <md-chip [color]="safeStatus.IsOccupied?'primary':'accent'" selected="true">{{safeStatus.IsOccupied?'Occupied':'Empty'}}</md-chip>
        </md-chip-list>
      </md-card-subtitle>
    </md-card>
  </a>
</div>