@mixin component-category-list-theme($theme) {
  $primary: map-get($theme, primary);
  $accent: map-get($theme, accent);
  $warn: map-get($theme, warn);
  $background: map-get($theme, background);
  $foreground: map-get($theme, foreground);

  .kiosk-online {
    //background: mat-color($foreground);
  }

  .kiosk-offline {
    color: mat-color($primary, default-contrast);
    background: mat-color($warn);
  }
}
