<div class="docs-component-category-list">
  <a md-raised-button color="primary" class="docs-component-category-list-item d-flex flex-column justify-content-center" routerLink="/manage-kiosks">
    <md-icon class="md-24" aria-label="Example icon-button with a heart icon">add</md-icon>
  </a>
  <a class="docs-component-category-list-item" routerLink="kiosk/5">
    <md-card class="docs-component-category-list-card">
      <md-card-title>Kiosk X</md-card-title>
    </md-card>
  </a>
  <a class="docs-component-category-list-item" routerLink="/kiosk/5">
    <md-card class="docs-component-category-list-card">
      <md-card-title>Kiosk X</md-card-title>
    </md-card>
  </a>
  <a class="docs-component-category-list-item" routerLink="/kiosk/5">
    <md-card class="docs-component-category-list-card">
      <md-card-title>Kiosk X</md-card-title>
    </md-card>
  </a>
  <a class="docs-component-category-list-item" routerLink="/kiosk/5">
    <md-card class="docs-component-category-list-card">
      <md-card-title>Kiosk X</md-card-title>
    </md-card>
  </a>
  <a class="docs-component-category-list-item" routerLink="/kiosk/5">
    <md-card class="docs-component-category-list-card">
      <md-card-title>Kiosk X</md-card-title>
    </md-card>
  </a>
  <a class="docs-component-category-list-item" routerLink="/kiosk/5">
    <md-card class="docs-component-category-list-card">
      <md-card-title>Kiosk X</md-card-title>
    </md-card>
  </a>
  <a class="docs-component-category-list-item" routerLink="/kiosk/5">
    <md-card class="docs-component-category-list-card">
      <md-card-title>Kiosk X</md-card-title>
    </md-card>
  </a>
  <a class="docs-component-category-list-item" routerLink="/kiosk/5">
    <md-card class="docs-component-category-list-card">
      <md-card-title>Kiosk X</md-card-title>
    </md-card>
  </a>
  <a class="docs-component-category-list-item" routerLink="/kiosk/5">
    <md-card class="docs-component-category-list-card">
      <md-card-title>Kiosk X</md-card-title>
    </md-card>
  </a>
  <a class="docs-component-category-list-item" routerLink="/kiosk/5">
    <md-card class="docs-component-category-list-card">
      <md-card-title>Kiosk X</md-card-title>
    </md-card>
  </a>
  <a class="docs-component-category-list-item" routerLink="/kiosk/5">
    <md-card class="docs-component-category-list-card">
      <md-card-title>Kiosk X</md-card-title>
    </md-card>
  </a>
  <a class="docs-component-category-list-item" routerLink="/kiosk/5">
    <md-card class="docs-component-category-list-card">
      <md-card-title>Kiosk X</md-card-title>
    </md-card>
  </a>
  <a class="docs-component-category-list-item" routerLink="/kiosk/5">
    <md-card class="docs-component-category-list-card">
      <md-card-title>Kiosk X</md-card-title>
    </md-card>
  </a>
  <a class="docs-component-category-list-item" routerLink="/kiosk/5">
    <md-card class="docs-component-category-list-card">
      <md-card-title>Kiosk X</md-card-title>
    </md-card>
  </a>
  <a class="docs-component-category-list-item" routerLink="/kiosk/5">
    <md-card class="docs-component-category-list-card">
      <md-card-title>Kiosk X</md-card-title>
    </md-card>
  </a>
  <a class="docs-component-category-list-item" routerLink="/kiosk/5">
    <md-card class="docs-component-category-list-card">
      <md-card-title>Kiosk X</md-card-title>
    </md-card>
  </a>
  <a class="docs-component-category-list-item" routerLink="/kiosk/5">
    <md-card class="docs-component-category-list-card">
      <md-card-title>Kiosk X</md-card-title>
    </md-card>
  </a>
  <a class="docs-component-category-list-item" routerLink="/kiosk/5">
    <md-card class="docs-component-category-list-card">
      <md-card-title>Kiosk X</md-card-title>
    </md-card>
  </a>
  <a class="docs-component-category-list-item" routerLink="/kiosk/5">
    <md-card class="docs-component-category-list-card">
      <md-card-title>Kiosk X</md-card-title>
    </md-card>
  </a>
  <a class="docs-component-category-list-item" routerLink="/kiosk/5">
    <md-card class="docs-component-category-list-card">
      <md-card-title>Kiosk X</md-card-title>
    </md-card>
  </a>
  <a class="docs-component-category-list-item" routerLink="/kiosk/5">
    <md-card class="docs-component-category-list-card">
      <md-card-title>Kiosk X</md-card-title>
    </md-card>
  </a>
  <a class="docs-component-category-list-item" routerLink="/kiosk/5">
    <md-card class="docs-component-category-list-card">
      <md-card-title>Kiosk X</md-card-title>
    </md-card>
  </a>
  <a class="docs-component-category-list-item" routerLink="/kiosk/5">
    <md-card class="docs-component-category-list-card">
      <md-card-title>Kiosk X</md-card-title>
    </md-card>
  </a>
  <a class="docs-component-category-list-item" routerLink="/kiosk/5">
    <md-card class="docs-component-category-list-card">
      <md-card-title>Kiosk X</md-card-title>
    </md-card>
  </a>
  <a class="docs-component-category-list-item" routerLink="/kiosk/5">
    <md-card class="docs-component-category-list-card">
      <md-card-title>Kiosk X</md-card-title>
    </md-card>
  </a>
  <a class="docs-component-category-list-item" routerLink="/kiosk/5">
    <md-card class="docs-component-category-list-card">
      <md-card-title>Kiosk X</md-card-title>
    </md-card>
  </a>
</div>