<div class="docs-component-category-list">
  <a class="docs-component-category-list-item" routerLink="kiosk/5">
    <md-card class="docs-component-category-list-card">
      <md-card-title>Kiosk X</md-card-title>
    </md-card>
  </a>
  <a class="docs-component-category-list-item" routerLink="/kiosk/5">
    <md-card class="docs-component-category-list-card">
      <md-card-title>Kiosk X</md-card-title>
    </md-card>
  </a>
  <a class="docs-component-category-list-item" routerLink="/kiosk/5">
    <md-card class="docs-component-category-list-card">
      <md-card-title>Kiosk X</md-card-title>
    </md-card>
  </a>
  <a class="docs-component-category-list-item" routerLink="/kiosk/5">
    <md-card class="docs-component-category-list-card">
      <md-card-title>Kiosk X</md-card-title>
    </md-card>
  </a>
  <a class="docs-component-category-list-item" routerLink="/kiosk/5">
    <md-card class="docs-component-category-list-card">
      <md-card-title>Kiosk X</md-card-title>
    </md-card>
  </a>
  <a class="docs-component-category-list-item" routerLink="/kiosk/5">
    <md-card class="docs-component-category-list-card">
      <md-card-title>Kiosk X</md-card-title>
    </md-card>
  </a>
  <a class="docs-component-category-list-item" routerLink="/kiosk/5">
    <md-card class="docs-component-category-list-card">
      <md-card-title>Kiosk X</md-card-title>
    </md-card>
  </a>
  <a class="docs-component-category-list-item" routerLink="/kiosk/5">
    <md-card class="docs-component-category-list-card">
      <md-card-title>Kiosk X</md-card-title>
    </md-card>
  </a>
  <a class="docs-component-category-list-item" routerLink="/kiosk/5">
    <md-card class="docs-component-category-list-card">
      <md-card-title>Kiosk X</md-card-title>
    </md-card>
  </a>
  <a class="docs-component-category-list-item" routerLink="/kiosk/5">
    <md-card class="docs-component-category-list-card">
      <md-card-title>Kiosk X</md-card-title>
    </md-card>
  </a>
  <a class="docs-component-category-list-item" routerLink="/kiosk/5">
    <md-card class="docs-component-category-list-card">
      <md-card-title>Kiosk X</md-card-title>
    </md-card>
  </a>
  <a class="docs-component-category-list-item" routerLink="/kiosk/5">
    <md-card class="docs-component-category-list-card">
      <md-card-title>Kiosk X</md-card-title>
    </md-card>
  </a>
  <a class="docs-component-category-list-item" routerLink="/kiosk/5">
    <md-card class="docs-component-category-list-card">
      <md-card-title>Kiosk X</md-card-title>
    </md-card>
  </a>
  <a class="docs-component-category-list-item" routerLink="/kiosk/5">
    <md-card class="docs-component-category-list-card">
      <md-card-title>Kiosk X</md-card-title>
    </md-card>
  </a>
  <a class="docs-component-category-list-item" routerLink="/kiosk/5">
    <md-card class="docs-component-category-list-card">
      <md-card-title>Kiosk X</md-card-title>
    </md-card>
  </a>
  <a class="docs-component-category-list-item" routerLink="/kiosk/5">
    <md-card class="docs-component-category-list-card">
      <md-card-title>Kiosk X</md-card-title>
    </md-card>
  </a>
  <a class="docs-component-category-list-item" routerLink="/kiosk/5">
    <md-card class="docs-component-category-list-card">
      <md-card-title>Kiosk X</md-card-title>
    </md-card>
  </a>
  <a class="docs-component-category-list-item" routerLink="/kiosk/5">
    <md-card class="docs-component-category-list-card">
      <md-card-title>Kiosk X</md-card-title>
    </md-card>
  </a>
  <a class="docs-component-category-list-item" routerLink="/kiosk/5">
    <md-card class="docs-component-category-list-card">
      <md-card-title>Kiosk X</md-card-title>
    </md-card>
  </a>
  <a class="docs-component-category-list-item" routerLink="/kiosk/5">
    <md-card class="docs-component-category-list-card">
      <md-card-title>Kiosk X</md-card-title>
    </md-card>
  </a>
  <a class="docs-component-category-list-item" routerLink="/kiosk/5">
    <md-card class="docs-component-category-list-card">
      <md-card-title>Kiosk X</md-card-title>
    </md-card>
  </a>
  <a class="docs-component-category-list-item" routerLink="/kiosk/5">
    <md-card class="docs-component-category-list-card">
      <md-card-title>Kiosk X</md-card-title>
    </md-card>
  </a>
  <a class="docs-component-category-list-item" routerLink="/kiosk/5">
    <md-card class="docs-component-category-list-card">
      <md-card-title>Kiosk X</md-card-title>
    </md-card>
  </a>
  <a class="docs-component-category-list-item" routerLink="/kiosk/5">
    <md-card class="docs-component-category-list-card">
      <md-card-title>Kiosk X</md-card-title>
    </md-card>
  </a>
  <a class="docs-component-category-list-item" routerLink="/kiosk/5">
    <md-card class="docs-component-category-list-card">
      <md-card-title>Kiosk X</md-card-title>
    </md-card>
  </a>
  <a class="docs-component-category-list-item" routerLink="/kiosk/5">
    <md-card class="docs-component-category-list-card">
      <md-card-title>Kiosk X</md-card-title>
    </md-card>
  </a>
</div>
