<div class="docs-primary-header">
  <h1>{{pageTitle.title}}</h1>
</div>
<div class="container justify-content-center">
  <form #editKioskForm="ngForm" (ngSubmit)="onSubmit()">
    <md-card class="m-sm-5 m-xs-0">
      <md-card-header>
        <md-card-title>Edit Kiosk</md-card-title>
      </md-card-header>
      <md-card-content>
        <md-form-field class="w-100">
          <input mdInput placeholder="IC No" disabled [(ngModel)]="ICNo" name="ICNo" required>
        </md-form-field>
        <md-form-field class="w-100">
          <input mdInput type="password" placeholder="Secret key" [(ngModel)]="Secret" name="Secret" required>
        </md-form-field>
        <md-form-field class="w-100">
          <input mdInput placeholder="Name" [(ngModel)]="Name" name="Name" required>
        </md-form-field>
      </md-card-content>
      <md-card-actions>
        <button md-raised-button type="button" color="warn" (click)="delete()">Delete</button>
        <button md-raised-button type="submit" color="primary" [disabled]="!editKioskForm.valid">Update</button>
      </md-card-actions>
    </md-card>
  </form>
</div>
<p2x-footer></p2x-footer>