a {
    &,
    &:active,
    &:hover,
    &:visited,
    &:focus,
    &:link {
        text-decoration: none;
        color: inherit;
    }
}

.docs-primary-header {
    padding-left: 20px;
    h1 {
        font-size: 30px;
        font-weight: 300;
        margin: 0;
        padding: 28px 8px;
        font-size: 20px;
    }
}