@import "variable";
@import '../node_modules/bootstrap/scss/bootstrap';
@import '../node_modules/font-awesome/scss/font-awesome';

//@import "~@angular/material/prebuilt-themes/indigo-pink.css";
@import "~@angular/material/theming";

// Include material core styles.
@include mat-core();

@import "./styles/general";
@import "./app/app-theme";



// Define the light theme.
$primary: mat-palette($mat-indigo);
$accent: mat-palette($mat-pink, A200, A100, A400);

$theme: mat-light-theme($primary, $accent);

@include angular-material-theme($theme);
@include app-theme($theme);
