@mixin nav-bar-theme($theme) {
  $primary: map-get($theme, primary);
  $accent: map-get($theme, accent);
  $warn: map-get($theme, warn);
  $background: map-get($theme, background);
  $foreground: map-get($theme, foreground);

  p2x-navbar {
    mat-toolbar {
      color: mat-color($primary, default-contrast);
    }
  }

  mat-toolbar {
    a {
      background-color: mat-color($primary, default-contrast);
    }
  }
  .test {
    background-color: red;
  }
}
