<md-expansion-panel hideToggle="true">
  <md-expansion-panel-header>
    <md-panel-title>Kiosk {{kiosk}}</md-panel-title>
    <md-panel-description class="d-flex justify-content-between">
      100 safes
      <md-icon class="text-success">check_circle</md-icon>
    </md-panel-description>
  </md-expansion-panel-header>
  <div class="d-inline-flex flex-wrap">
    <app-safe class="m-3"></app-safe>
    <app-safe class="m-3"></app-safe>
    <app-safe class="m-3"></app-safe>
    <app-safe class="m-3"></app-safe>
    <app-safe class="m-3"></app-safe>
    <app-safe class="m-3"></app-safe>
    <app-safe class="m-3"></app-safe>
    <app-safe class="m-3"></app-safe>
    <app-safe class="m-3"></app-safe>
    <app-safe class="m-3"></app-safe>
    <app-safe class="m-3"></app-safe>
    <app-safe class="m-3"></app-safe>
    <app-safe class="m-3"></app-safe>
    <app-safe class="m-3"></app-safe>
    <app-safe class="m-3"></app-safe>
    <app-safe class="m-3"></app-safe>
    <app-safe class="m-3"></app-safe>
    <app-safe class="m-3"></app-safe>
    <app-safe class="m-3"></app-safe>
    <app-safe class="m-3"></app-safe>
    <app-safe class="m-3"></app-safe>
    <app-safe class="m-3"></app-safe>
    <app-safe class="m-3"></app-safe>
    <app-safe class="m-3"></app-safe>
    <app-safe class="m-3"></app-safe>
    <app-safe class="m-3"></app-safe>
    <app-safe class="m-3"></app-safe>
    <app-safe class="m-3"></app-safe>
    <app-safe class="m-3"></app-safe>
    <app-safe class="m-3"></app-safe>
    <app-safe class="m-3"></app-safe>
    <app-safe class="m-3"></app-safe>
    <app-safe class="m-3"></app-safe>
    <app-safe class="m-3"></app-safe>
    <app-safe class="m-3"></app-safe>

  </div>
</md-expansion-panel>